<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.testP.demoPlugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>demoPlugin</name>
    <js-module name="demoPlugin" src="www/demoPlugin.js">
        <clobbers target="demoPlugin" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
        <feature name="demoPlugin">
            <param name="ios-package" value="demoPlugin" />
        </feature>
        </config-file>
        <source-file src="src/ios/demoPlugin.m" />
    </platform>
</plugin>